apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    service: {{NAME}}
  name: {{NAME}}
spec:
  ports:
  - port: 6379
    protocol: TCP
    targetPort: 6379
  selector:
    service: {{NAME}}
status:
  loadBalancer: {}
